.input,
.output {
  display: block;
  margin: 30px auto;
  padding: 5px;
}
.input {
  width: 600px;
}
.output {
  width: 800px;
}
#editor,
#preview {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
  background-color: rgb(99, 163, 150);
  border: solid 2px black;
  color: black;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}
nav {
  background-color: aquamarine;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
  margin-bottom: 20px;
}
button {
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 810px) {
  .output {
    width: 95%;
  }
}
@media (max-width: 610px) {
  .input {
    width: 90%;
  }
}

h1::after,
h2::after {
  content: " ";
  display: block;
  background-color: black;
  opacity: 0.7;
  height: 2px;
  margin: 5px;
  overflow: hidden;
}
h2::after {
  opacity: 0.5;
}
code,
pre code {
  background-color: white;
  font-family: monospace;
  overflow-x: auto;
}
pre code {
  display: block;
}
blockquote {
  color: #185050;
  border-left: 3px solid;
  padding: 0 10px;
  line-height: 1;
}
table {
  border-collapse: collapse;
  border: 2px solid;
  border-right: none;
  border-bottom: none;
  text-align: left;
}
th,
td {
  padding: 3px 10px;
  margin: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
ul {
  margin-bottom: -30px;
  margin-top: -20px;
}
li {
  margin-bottom: -20px;
  overflow-y: hidden;
}
ol {
  counter-reset: item;
}
ul li li {
  margin-left: 30px;
}
ul li::before {
  content: "• ";
}
ul li li::before {
  content: "◦ ";
}
ul li li li::before {
  content: "▪ ";
}
ol li::before {
  counter-increment: item;
  content: counter(item) ". ";
}
img {
  max-width: 100%;
  min-width: 100px;
}
