body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container,
.time,
h1 {
  margin: 10px;
  text-align: center;
  background-color: #ff4d4d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  color: white;
}

button {
  margin: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #ff4d4d;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #ff4d4d;
  transform: translateY(-2px);
}

button:active {
  background-color: #d63c3c;
  transform: translateY(1px);
}

#time-left {
  font-size: 60px;
  margin: 20px 0;
  color: white;
}

#timer-label {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break,
.session {
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #333;
  display: inline-block;
  text-align: center;
  width: 150px;
}

.break button,
.session button {
  background-color: #444;
  border-radius: 5px;
  padding: 8px 12px;
}

.break button:hover,
.session button:hover {
  background-color: #ff4d4d;
}

@media (max-width: 365px) {
  .break,
  .session {
    width: auto;
  }
}
