* {
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}
div {
  border: solid;
  width: 500px;
  margin: 20px auto;
}
h1 {
  margin-top: 40px;
  font-size: 40px;
}
p {
  font-size: 30px;
  margin: 30px;
}
input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}
@media (max-width: 600px) {
  div {
    width: 100%;
  }
}
