*,
*::after,
*::before {
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  width: 100%;
  text-align: center;
}

/* HEADER */
h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
}

#description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: black;
}

/* main */
main {
  width: 100%;
  font: sans-serif;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}
