* {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: gray;
}
#change-due {
  font-size: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: auto;
  color: white;
}
.phone-footer {
  background-color: black;
  height: 80px;
  display: flex;
}
h1 {
  font-size: 40px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label,
p {
  font-size: 20px;
  margin: 10px;
  overflow-y: hidden;
}
input {
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: solid;
}
button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  background-color: white;
}
.price {
  width: fit-content;
  overflow-y: hidden;
  color: white;
  margin: auto;
  line-height: 15px;
}
.price p {
  background-color: black;
  border: 10px crimson solid;
  padding: 8px 40px;
}
.blue-box {
  background-color: crimson;
  height: 30px;
  width: 40px;
  margin: -10px 30px 0;
}
.cashier {
  display: flex;
  flex-direction: row;
  border: 15px solid crimson;
  background-color: crimson;
  width: 320px;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 5px;
}
.box {
  background-color: black;
  height: 20px;
  width: 20px;
  margin: 3px;
}
.cid {
  background-color: white;
  margin-left: 40px;
  padding-right: 10px;
}
.cid p {
  font-size: 16px;
  margin: 2px 3px;
}
.phone-background {
  background-color: crimson;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin: auto;
  margin-bottom: 50px;
}
.phone-camera {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
