* {
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}
.phone-background {
  background-color: black;
  height: 20px;
  display: flex;
  justify-content: center;
}
.phone-camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.phone-container {
  border: 10px solid;
  border-radius: 10px;
  height: 500px;
  width: 300px;
  margin: 20px auto;
  overflow-y: hidden;
  background-color: gray;
}
#results-div {
  height: 300px;
  justify-content: center;
  text-align: center;
}
.phone-footer {
  background-color: black;
  height: 80px;
  display: flex;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
  margin-top: 10px;
}
input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: solid;
}
button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  background-color: white;
}
@media (max-width: 600px) {
  div {
    width: 100%;
  }
}
